@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url(/assets/fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    src: url(/assets/fonts/NotoSerif-Regular.ttf) format('truetype');
}

body {
    font-family: 'Noto Sans', sans-serif;
    max-width: 600px;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

header {
    margin: 20px 0 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a {
    margin-right: 20px;
}

hgroup {
    margin-bottom: 20px;
}

hgroup h1 {
    margin: 0;
}

hgroup h2 {
    margin: 0;
}

hgroup h3 {
    margin: 0;
}

hgroup h2:nth-child(2) {
    color: gray;
    font-size: 1rem;
    font-weight: normal;
}

hgroup h3:nth-child(2) {
    color: gray;
    font-size: 1rem;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', Arial, sans-serif;
}

img {
    border-radius: 4px;
}

video {
    border-radius: 4px;
}

iframe {
    border-radius: 4px;
}

footer {
    margin: 40px 0 40px 0;
    border-top: none;
}

.center {
    text-align: center;
}
